*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5D90B1;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

a{
    text-decoration: none;
}

#container{
    margin:30px auto;
    max-width: 400px;
    padding: 20px;
   
} 

.form-wrap{
    background-color: #FCF3EE;
    padding: 15px 25px;
}

.form-wrap h1,
.form-wrap p{
    text-align: center; 
}

.form-wrap .form-group{
    margin-top: 15px;
}

.button-text{
     margin-top:15px;
     margin-bottom: 10px;  
}

.form-wrap .form-group label{
    display: block;
    color: #666;
}

.form-wrap .form-group input{
    width: 100%;
    padding:10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button{
    width: 100%;
    display: block;
    background-color: #539987;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form-wrap button:hover{
    background: #1F271B;
}

.form-wrap .button-text{
    font-size: 13px;
    margin-top: 20px;
}

footer{
    text-align: center;
    margin-top: 10px;
}

footer a{
    color: #191919;
}








